<div class="list-container">

  <!-- Toolbar with Create button -->
  <mat-toolbar>
    <span>Blogs</span>
    <span class="spacer"></span>

    <button mat-raised-button color="primary" (click)="toggleSelectMode()">
      <mat-icon>{{ selectMode ? 'close' : 'check_box' }}</mat-icon>
      {{ selectMode ? 'Cancel' : 'Select' }}
    </button>

    <button mat-raised-button color="primary" style="margin-left: 1rem;"(click)="create()">
      <mat-icon>add</mat-icon>
      Create Blog
    </button>

    <button mat-raised-button color="warn" style="margin-left: 1rem;" (click)="deleteSelected()" *ngIf="selectMode && selectedBlogs.size > 0">
      <mat-icon>delete</mat-icon>
      Delete Selected ({{ selectedBlogs.size }})
    </button>

  </mat-toolbar>

  <!-- Search Input -->
<div class="search-container" style="margin: 1rem 0;">
  <mat-form-field appearance="outline" style="width: 100%;">
    <mat-label>Search Blogs</mat-label>
    <input matInput [(ngModel)]="searchTerm" (keyup.enter)="searchBlogs()" (input)="onSearchInputChange()" placeholder="Enter blog name or description">
    <button
      *ngIf="searchTerm"
      mat-icon-button
      matSuffix
      (click)="clearSearch()"
      aria-label="Clear search">
      <mat-icon>close</mat-icon>
    </button>
    <button mat-icon-button matSuffix (click)="searchBlogs()">
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>
</div>

<div style="margin-bottom: 1rem;">
  <mat-form-field appearance="outline" style="width: 300px;">
    <mat-label>Filter by Genre</mat-label>
    <mat-select (selectionChange)="onGenreChange($event.value)">
      
      <mat-option value="">All</mat-option>

      <mat-option *ngFor="let g of genres$ | async" [value]="g">
        {{ g }}
      </mat-option>

    </mat-select>
  </mat-form-field>
</div>

  <!-- Loading Spinner -->
  <div *ngIf="loading" class="center">
    <mat-spinner diameter="50"></mat-spinner>
  </div>

  <!-- Error Message -->
  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>

  <!-- Blogs List -->
  <ng-container *ngIf="blogs$ | async as blogs">
    
    <!-- Empty State -->
    <div *ngIf="!loading && blogs.length === 0" class="empty-state">
      No blogs found. Create your first blog!
    </div>

    

    <!-- Blogs Grid -->
    <div class="blogs-grid" *ngIf="blogs.length > 0">
      <mat-card *ngFor="let blog of paginatedBlogs$ | async" class="blog-card">

        <!-- Checkbox in select mode -->
        <mat-checkbox *ngIf="selectMode"
              [checked]="isSelected(blog.id!)"
              (change)="toggleBlogSelection(blog.id!)">
        </mat-checkbox>

        <div class="genre-tag" *ngIf="blog.genre">
  {{ blog.genre }}
</div>

        <mat-card-header>
          <mat-card-title>{{ blog.name }}</mat-card-title>
          <mat-card-subtitle>By {{ blog.author }}</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          <p>{{ blog.description }}</p>
        </mat-card-content>

        <mat-card-actions align="end">
          <button mat-stroked-button color="primary" (click)="edit(blog.id!)">
            <mat-icon>edit</mat-icon>
            Edit
          </button>

          <button mat-stroked-button color="warn" (click)="delete(blog.id!)">
            <mat-icon>delete</mat-icon>
            Delete
          </button>
        </mat-card-actions>

      </mat-card>
    </div>

    <mat-paginator
  [length]="(filteredBlogs$ | async)?.length || 0"
  [pageSize]="6"
  [pageSizeOptions]="[6]"
  (page)="onPageChange($event)">
</mat-paginator>

  </ng-container>

</div>