<div class="list-container">

  <mat-toolbar color="primary">
    <span>Blogs</span>
    <span class="spacer"></span>
    <button mat-raised-button color="accent" (click)="create()">
      <mat-icon>add</mat-icon>
      Create Blog
    </button>
  </mat-toolbar>

  <!-- Loading Spinner -->
  <div *ngIf="loading" class="center">
    <mat-spinner diameter="40"></mat-spinner>
  </div>

  <!-- Empty State -->
  <div *ngIf="!loading && blogs.length === 0" class="empty-state">
    No blogs found. Create your first blog!
  </div>

  <div class="blogs-grid">
    <mat-card *ngFor="let blog of blogs" class="blog-card">

      <mat-card-header>
        <mat-card-title>{{ blog.name }}</mat-card-title>
        <mat-card-subtitle>By {{ blog.author }}</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <p>{{ blog.description }}</p>
      </mat-card-content>

      <mat-card-actions align="end">
        <button mat-button color="primary" (click)="edit(blog.id!)">
          <mat-icon>edit</mat-icon>
          Edit
        </button>

        <button mat-button color="warn" (click)="delete(blog.id!)">
          <mat-icon>delete</mat-icon>
          Delete
        </button>
      </mat-card-actions>

    </mat-card>
  </div>

</div>