<div class="form-wrapper">

  <mat-card class="form-card">

    <mat-card-title>
      {{ isEditMode ? 'Edit Blog' : 'Create Blog' }}
    </mat-card-title>

    <mat-card-content>

      <form (ngSubmit)="onSubmit()" #blogForm="ngForm">

        <div class="form-fields">

          <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput [(ngModel)]="blog.name" name="name" required (ngModelChange)="onInputChange()">
            <mat-error *ngIf="!blog.name">Name is required.</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <textarea matInput rows="4"
              [(ngModel)]="blog.description"
              name="description"
              required (ngModelChange)="onInputChange()">
            </textarea>
            <mat-error *ngIf="!blog.description">Description is required.</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Author</mat-label>
            <input matInput [(ngModel)]="blog.author" name="author" required (ngModelChange)="onInputChange()">
            <mat-error *ngIf="!blog.author">Author is required.</mat-error>
          </mat-form-field>

        </div>

        <div class="button-group">
          <button mat-stroked-button color="accent" type="button" (click)="onCancel()">
            Cancel
          </button>
          <button mat-raised-button color="primary" type="submit" [disabled]="!blogForm.form.valid">
            {{ isEditMode ? 'Update' : 'Save' }}
          </button>
        </div>

      </form>

    </mat-card-content>

  </mat-card>

</div>